
.grid-xe > .auto {
  width: auto;
}

.grid-xe > .shrink {
  width: auto;
}

.grid-xe > .small-shrink,
.grid-xe > .small-full,
.grid-xe > .small-1,
.grid-xe > .small-2,
.grid-xe > .small-3,
.grid-xe > .small-4,
.grid-xe > .small-5,
.grid-xe > .small-6,
.grid-xe > .small-7,
.grid-xe > .small-8,
.grid-xe > .small-9,
.grid-xe > .small-10,
.grid-xe > .small-11,
.grid-xe > .small-12 {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

@media print, screen and (min-width: 40em) {
  .grid-xe > .medium-shrink,
  .grid-xe > .medium-full,
  .grid-xe > .medium-1,
  .grid-xe > .medium-2,
  .grid-xe > .medium-3,
  .grid-xe > .medium-4,
  .grid-xe > .medium-5,
  .grid-xe > .medium-6,
  .grid-xe > .medium-7,
  .grid-xe > .medium-8,
  .grid-xe > .medium-9,
  .grid-xe > .medium-10,
  .grid-xe > .medium-11,
  .grid-xe > .medium-12 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media print, screen and (min-width: 64em) {
  .grid-xe > .large-shrink,
  .grid-xe > .large-full,
  .grid-xe > .large-1,
  .grid-xe > .large-2,
  .grid-xe > .large-3,
  .grid-xe > .large-4,
  .grid-xe > .large-5,
  .grid-xe > .large-6,
  .grid-xe > .large-7,
  .grid-xe > .large-8,
  .grid-xe > .large-9,
  .grid-xe > .large-10,
  .grid-xe > .large-11,
  .grid-xe > .large-12 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.grid-xe > .small-1,
.grid-xe > .small-2,
.grid-xe > .small-3,
.grid-xe > .small-4,
.grid-xe > .small-5,
.grid-xe > .small-6,
.grid-xe > .small-7,
.grid-xe > .small-8,
.grid-xe > .small-9,
.grid-xe > .small-10,
.grid-xe > .small-11,
.grid-xe > .small-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grid-xe > .small-1 {
  width: 8.33333%;
}

.grid-xe > .small-2 {
  width: 16.66667%;
}

.grid-xe > .small-3 {
  width: 25%;
}

.grid-xe > .small-4 {
  width: 33.33333%;
}

.grid-xe > .small-5 {
  width: 41.66667%;
}

.grid-xe > .small-6 {
  width: 50%;
}

.grid-xe > .small-7 {
  width: 58.33333%;
}

.grid-xe > .small-8 {
  width: 66.66667%;
}

.grid-xe > .small-9 {
  width: 75%;
}

.grid-xe > .small-10 {
  width: 83.33333%;
}

.grid-xe > .small-11 {
  width: 91.66667%;
}

.grid-xe > .small-12 {
  width: 100%;
}

@media print, screen and (min-width: 40em) {
  .grid-xe > .medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    width: auto;
  }
  .grid-xe > .medium-shrink,
  .grid-xe > .medium-1,
  .grid-xe > .medium-2,
  .grid-xe > .medium-3,
  .grid-xe > .medium-4,
  .grid-xe > .medium-5,
  .grid-xe > .medium-6,
  .grid-xe > .medium-7,
  .grid-xe > .medium-8,
  .grid-xe > .medium-9,
  .grid-xe > .medium-10,
  .grid-xe > .medium-11,
  .grid-xe > .medium-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-xe > .medium-shrink {
    width: auto;
  }
  .grid-xe > .medium-1 {
    width: 8.33333%;
  }
  .grid-xe > .medium-2 {
    width: 16.66667%;
  }
  .grid-xe > .medium-3 {
    width: 25%;
  }
  .grid-xe > .medium-4 {
    width: 33.33333%;
  }
  .grid-xe > .medium-5 {
    width: 41.66667%;
  }
  .grid-xe > .medium-6 {
    width: 50%;
  }
  .grid-xe > .medium-7 {
    width: 58.33333%;
  }
  .grid-xe > .medium-8 {
    width: 66.66667%;
  }
  .grid-xe > .medium-9 {
    width: 75%;
  }
  .grid-xe > .medium-10 {
    width: 83.33333%;
  }
  .grid-xe > .medium-11 {
    width: 91.66667%;
  }
  .grid-xe > .medium-12 {
    width: 100%;
  }
}

@media print, screen and (min-width: 64em) {
  .grid-xe > .large-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    width: auto;
  }
  .grid-xe > .large-shrink,
  .grid-xe > .large-1,
  .grid-xe > .large-2,
  .grid-xe > .large-3,
  .grid-xe > .large-4,
  .grid-xe > .large-5,
  .grid-xe > .large-6,
  .grid-xe > .large-7,
  .grid-xe > .large-8,
  .grid-xe > .large-9,
  .grid-xe > .large-10,
  .grid-xe > .large-11,
  .grid-xe > .large-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-xe > .large-shrink {
    width: auto;
  }
  .grid-xe > .large-1 {
    width: 8.33333%;
  }
  .grid-xe > .large-2 {
    width: 16.66667%;
  }
  .grid-xe > .large-3 {
    width: 25%;
  }
  .grid-xe > .large-4 {
    width: 33.33333%;
  }
  .grid-xe > .large-5 {
    width: 41.66667%;
  }
  .grid-xe > .large-6 {
    width: 50%;
  }
  .grid-xe > .large-7 {
    width: 58.33333%;
  }
  .grid-xe > .large-8 {
    width: 66.66667%;
  }
  .grid-xe > .large-9 {
    width: 75%;
  }
  .grid-xe > .large-10 {
    width: 83.33333%;
  }
  .grid-xe > .large-11 {
    width: 91.66667%;
  }
  .grid-xe > .large-12 {
    width: 100%;
  }
}