<!doctype html>
<html class="no-js" lang="en">

  {% include head.html %}
  
  <body>
    
    {% include header.html %}

    <div class="grid-container">
      

      {{ content }}

    </div>
    
      {% include footer.html %}
      <script src="../assets/js/vendor.js"></script>
      <script src="../assets/js/foundation.js"></script>
      <script id="dsq-count-scr" src="//anothertechieblog.disqus.com/count.js" async></script>
      <script>
        $(document).foundation();
      </script>

      <!-- Lightbox Modal -->
<div id="lightbox" class="lightbox">
  <span class="close-lightbox">&times;</span>
  <img class="lightbox-content" id="lightbox-image">
  <div class="caption"></div>
</div>
  </body>

</html>
