
<!doctype html>

  <body>
    <div id="header">
      <nav>
        
        <li class="fork"><a href="{{ site.url }}">Home</a></li>
      </nav>
    </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>

        {{ content }}

      </section>

    </div><!-- end wrapper -->

<div class="footer">
    {% include footer.html %}
</div><!-- end footer -->
  </body>
</html>
